<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%date %highlight(%level) [%logger{0}/%thread] %message%n%xException</pattern>-->
            <pattern>%date %highlight(%level) %logger{3} [%thread] %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <logger name="io.laserdisc" level="INFO" />

</configuration>
